.memes-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0 10px;
    grid-auto-columns: 10px;
}

.memes-list img {
    height: 250px;
    grid-column-end: span 2;
}